body{
	font-size: 18px;
	font-family:'Poppins', sans-serif;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
}
h1, h2{
	text-transform: uppercase;
	border-bottom:4px dotted black;
	display:inline-block;
	font-weight: 800;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.5em;
	padding: 8px 0;
}
nav{
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
    float:right;
    font-size: 1.8em;
}
nav a{
text-decoration: none;
color: #000000;
margin: 1.8em;
padding: 20px;
display: inline-block;
}
	
}
.wrapper section{
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
img{
	display: block;
	size: 480px;
	margin: 0 auto;
	padding: 18px;
	overflow: auto;
}
article {
background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;	
}
#two_column{
background-color: #FFB7CF;
border: 1px black solid;
padding: 20px;
}
#left{
background-color: violet;
border: 1px black solid;
padding: 20px;
float: left;
width: 30%;

}
#right{
background-color: #E55B88;
border: 1px black solid;
padding: 20px;
float: right;
width: 62%;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
li{
	float: left;
	width: 20%;
	height: 2em;
	text-align: center;
	display: inline-block;
}
footer{
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

