body{
	color: #BCBEC0;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
}
header{
	border:1px #BCBEC0 solid;
	padding: 20px;
	text-align: center;
}
h1{
	text-transform: lowercase;
	border-bottom: 4px dotted #BCBEC0;
	display: inline-block;
	font-weight: 800;
	font-size: 1.5em;
	padding: 1em;
}
p{
	margin: 1em;
	padding: .5em;
}
.left nav {
	display: inline-block;
	font-size: 14px;
text-align: center;
padding: .5em;
}

.left li{
	padding: 1.5em
}

.left{
	display: block;
	float: left;
	padding: 20px;
	width: 300px;
	border-style: none;
	height:500px;
	text-align: center;
}
.left-bottom{
	display: block;
	float: left;
	padding: .5em;
	width: 300px;
	text-align: center;
	font-size: 10px;
    height: 200px;
    position: absolute;
    bottom: 0;
}
.left-bottom li {
	padding: 1em;
	text-align: center;
}
}
#right{
	display: block;
	float: right;
	padding: 20px 0 0 0;
	width: 70%;
}
img{
	width: auto;
}
hr{
	height: 1px;
	width: 100%;
}
footer{
	padding:2em;
	font-size: .5em;
	text-align: center;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}