body{
	color: #BCBEC0;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
}
header{
	border:1px #BCBEC0 solid;
	padding: 20px;
	text-align: center;
}
h1{
	text-transform: lowercase;
	border-bottom: 4px dotted #BCBEC0;
	display: inline-block;
	font-weight: 800;
	font-size: 1.5em;
	padding: 1em;
}
p{
	margin: 1em;
	padding: .5em;
}
nav {
	display: inline-block;
text-align: center;
padding: 2em 8em
}

li{
	padding: .5em;
}

.left{
	display: block;
	float: left;
	padding: 20px;
	width: 300px;
	border-style: none;
	height: 50%;
	text-align: center;
}
#right{
	display: block;
	float: right;
	padding: 20px 0 0 0;
	width: 70%;
}
img{
	width: auto;
}
footer{
	padding:1em;
	font-size: .5em;
	text-align: center;
	height: 50%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}